* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  display: flex;
  background: #f9f9f9;
  color: #222;
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  height: 100vh;
  background: #111;
  color: white;
  padding: 2rem 1rem;
  position: fixed;
}

.profile {
  text-align: center;
  margin-bottom: 2rem;
}

.profile img {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 1rem;
  border: 3px solid white;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin: 1.2rem 0;
}

.sidebar a {
  color: #bbb;
  text-decoration: none;
  font-size: 15px;
}

.sidebar a.active,
.sidebar a:hover {
  color: white;
}

/* CONTENT */
.content {
  margin-left: 250px;
  padding: 3rem;
  width: 100%;
}

/* SECTIONS */
.section {
  min-height: 100vh;
  padding: 3rem 0;
  opacity: 0;
  transform: translateY(40px);
  transition: 0.8s all ease;
}

.section.show {
  opacity: 1;
  transform: translateY(0);
}

h1 span {
  color: #000;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.job, .project, .edu {
  margin-bottom: 2rem;
}

ul {
  margin-top: 1rem;
  padding-left: 1.2rem;
}

.buttons {
  margin-top: 1.5rem;
}

.btn {
  padding: 0.7rem 1.4rem;
  background: none;
  border: 2px solid black;
  margin-right: 1rem;
  text-decoration: none;
  color: black;
}

.btn.primary {
  background: black;
  color: white;
}

/* SKILLS GRID */
.skills-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

/* MOBILE */
@media(max-width: 768px) {
  .sidebar {
    display: none;
  }

  .content {
    margin-left: 0;
  }
}
